  /* label color */
   .input-field label {
     color: dodgerblue;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: dodgerblue;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid dodgerblue;
     box-shadow: 0 1px 0 0 dodgerblue;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid dodgerblue;
     box-shadow: 0 1px 0 0 dodgerblue;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid dodgerblue;
     box-shadow: 0 1px 0 0 dodgerblue;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: dodgerblue;
   }

    textarea.materialize-textarea:focus:not([readonly]) {
      border-bottom: 1px solid dodgerblue;
      box-shadow: 0 1px 0 0 dodgerblue;
    }

    textarea.materialize-textarea:focus:not([readonly]) + label {
      color: dodgerblue;
    }

    .picker__date-display{
        background-color: dodgerblue;
    }

    .picker__weekday-display{
        background-color: darkblue
    }

    .picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected{
        background-color: dodgerblue
    }

    .picker__day.picker__day--today{
        color: dodgerblue
    }

    .picker__close, .picker__today{
        color: dodgerblue
    }
      
    .estiloImagenBlog{
        height: 75px;
        border: 1px solid #000;
        margin: 10px 5px 0 0;
      }